<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Formulario de registro</h2>
        <form>

            <div class="form-group"> <!-- Full Name -->
                <label for="full_name_id" class="control-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="">
            </div>

            <div class="form-group"> <!-- Email -->
                <label for="email_id" class="control-label">Correo electrónico</label>
                <input type="text" class="form-control" id="email_id" name="email" placeholder="">
            </div>

            <div class="form-group"> <!-- C.I.-->
                <label for="city_id" class="control-label">Cédula de identidad</label>
                <input type="number" class="form-control" id="ci_id" name="ci" placeholder="">
            </div>

            <div class="form-group"> <!-- Password-->
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="">
            </div>

            <div class="form-group" style="padding-top: 1em;"> <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>

    </div>


</body>

</html>